  <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			La remise à niveau scolaire		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div class="cadre">

<p class="rtejustify">La remise &agrave; niveau scolaire s&rsquo;effectue au sein de deux cellules p&eacute;dagogiques, une &agrave; Cayenne et une &agrave; Saint-Jean. Quel que soit le niveau des volontaires, la cellule p&eacute;dagogique a pour but de les faire progresser afin de les aider &agrave; trouver du travail.</p>

<h3>Une &eacute;quipe disponible</h3>

<p class="rtejustify">Chaque cellule est form&eacute;e de deux professeurs des &eacute;coles, d&rsquo;un EVSMA (Engag&eacute; Volontaire du Service Militaire Adapt&eacute;). Les cours sont effectu&eacute;s avec le m&ecirc;me formateur et en petits effectifs, ce qui permet un suivi personnalis&eacute; des &eacute;l&egrave;ves.</p>

<h3><img src="/images/ran.jpg" alt="ran.jpg" style="width: 379px; height: 252px;" /></h3>

<h3>Un suivi permanent</h3>

<p class="rtejustify">Des tests de fran&ccedil;ais, de math&eacute;matiques et de raisonnement logique, effectu&eacute;s lors de la formation militaire initiale des stagiaires, permettent de discerner le niveau de chacun.</p>

<p class="rtejustify">Les stagiaires sont alors r&eacute;partis en trois groupes de niveau, afin de mieux cibler la formation et de r&eacute;pondre au mieux &agrave; leurs besoins et leurs attentes. Un livret p&eacute;dagogique &eacute;value leurs progr&egrave;s.</p>

<p class="rtejustify">Pour un meilleur suivi, les stagiaires sont r&eacute;partis en groupes de niveau de quatre &agrave; douze personnes. Ils y suivent des cours de fran&ccedil;ais, math&eacute;matiques, informatique et de technique de recherche d&rsquo;emploi, &agrave; raison de quatre heures par semaine pendant la formation professionnelle.</p>

<h3>&nbsp;</h3>

<h3>La pr&eacute;paration &agrave; des dipl&ocirc;mes reconnus</h3>

<p class="rtejustify">L&rsquo;objectif de l&rsquo;Equipe p&eacute;dagogique est de remettre &agrave; niveau certains VS (Volontaires Stagiaires) et de valoriser les acquis des autres en vue d&rsquo;une insertion professionnelle.</p>

<p class="rtejustify">Pour les stagiaires n&rsquo;ayant aucun dipl&ocirc;me, la formation comprend une pr&eacute;paration au CFG (Certificat de Formation G&eacute;n&eacute;rale) : ce dipl&ocirc;me, reconnu par le rectorat, est n&eacute;cessaire pour l&rsquo;obtention du Certificat d&rsquo;Aptitude Personnelle &agrave; l&rsquo;Insertion, attribu&eacute; par le chef de corps du r&eacute;giment, qui valide la formation re&ccedil;ue par les jeunes.</p>

<p>La cellule p&eacute;dagogique propose &eacute;galement :</p>

<ul>

<li>des cours du soir pour les volontaires,</li>

<li>la possibilit&eacute; d&rsquo;emprunter des livres,</li>

<li>des cours particuliers pour les stagiaires pr&eacute;parant un examen ou un concours en candidats libres,</li>

<li>la pr&eacute;paration &agrave; des concours sp&eacute;cifiques tels que les tests AFPA, les tests militaires&hellip;,</li>

<li>des conseils pour la poursuite d&rsquo;&eacute;tudes, l&rsquo;insertion professionnelle&hellip;</li>

</ul>

</div>

<p>&nbsp;</p>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
