       <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Le déroulement des formations		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<h1 style="text-align: center;">&nbsp;</h1>

<h2 style="text-align: center;">La formation militaire</h2>

<p>La&nbsp;Formation Militaire Initiale est une p&eacute;riode d&rsquo;un mois au cours de laquelle les volontaires apprennent les bases de la vie militaire. Cette formation se d&eacute;roule durant le premier mois.</p>

<p>&nbsp;</p>

<h2 style="text-align: center;">La formation professionnelle</h2>

<p>La formation professionnelle a pour objectif l&rsquo;acquisition de pr&eacute;-requis professionnels par le volontaire.</p>

<p>Ces pr&eacute;-requis lui permettent d&rsquo;obtenir &agrave; la sortie du SMA soit directement un emploi, soit un perfectionnement dans le cadre d&rsquo;une poursuite de formation certifiante locale ou en m&eacute;tropole ou encore en alternance.</p>

<p>Quelque soit le type de fili&egrave;re, la formation professionnelle repr&eacute;sente 70% des 1976 heures de formation sur 12 mois (soit 1312 h. dont 875 h. de formation sp&eacute;cifique au m&eacute;tier).</p>

<p>La formation professionnelle est sanctionn&eacute;e par une attestation de formation professionnelle (AFP, minist&egrave;re de l&rsquo;Outre-Mer, d&eacute;cret 95-453 du 25 /04/95 - article L 813-1) attribu&eacute;e par le chef de corps.</p>

<p>A l'issue de sa formation, tout volontaire, qu&rsquo;il soit VS ou VT, peut se voir attribuer une AFP du SMA, certifiant qu'il a b&eacute;n&eacute;fici&eacute; de 800 heures minimum de formation (loi PERBEN) dans sa sp&eacute;cialit&eacute; (VS) ou exerc&eacute; son m&eacute;tier dans le cadre d&rsquo;une premi&egrave;re exp&eacute;rience professionnelle pour une dur&eacute;e minimale identique (VT).</p>

<p>Elle est d&eacute;livr&eacute;e sur recommandation d'un jury constitu&eacute; par des professionnels et des formateurs ext&eacute;rieurs aux unit&eacute;s (jury minimum = un bin&ocirc;me professionnel/formateur).</p>

<p><strong>Formation professionelle &eacute;l&eacute;mentaire (FPE)</strong>&nbsp;: Au cours de cette formation, les volontaires ont des cours pratiques et th&eacute;oriques dans le domaine professionnel qu&rsquo;ils ont choisi.</p>

<p><strong>Formation professionnelle compl&eacute;mentaire (FPC) </strong>: Les volontaires sont en stage ou sont affect&eacute;s dans diff&eacute;rents services du r&eacute;giment ce qui leur permet de mettre en pratique leurs connaissances et d&rsquo;en apprendre davantage. Pendant cette p&eacute;riode, ils sont pr&eacute;sent&eacute;s &agrave; l&rsquo;examen du permis de conduire.</p>

<p>&nbsp;</p>

<h2 style="text-align: center;">La formation citoyenne</h2>

<p>La plus value du SMA est d&rsquo;inculquer aux jeunes volontaires des valeurs exacerb&eacute;s chez les militaires telles que la ponctualit&eacute;, la politesse, le savoir-vivre en collectivit&eacute; ou au travail. Il existe aussi un aspect plus th&eacute;orique de cette formation pour tester les connaissances de base de tout citoyen fran&ccedil;ais.</p>

<p>&nbsp;</p>

<h2 style="text-align: center;">La formation au secourisme</h2>

<p>En une semaine, les volontaires sont form&eacute;s aux gestes de premiers secours et se voit attribuer l'attestation Premiers Secours civique de niveau 1 (PSC1).</p>

<p>&nbsp;</p>

<h2 style="text-align: center;">La formation scolaire</h2>

<p>voir l'onglet suivant &laquo; <a href="/nos-formations/la-remise-a-niveau-scolaire.html">Remise &agrave; niveau scolaire</a> &raquo;.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2 style="text-align: center;">Les fili&egrave;res longues de 10 &agrave; 12 mois</h2>

<p>Ces fili&egrave;res s'adressent aux jeunes non dipl&ocirc;m&eacute;s. L'objectif de la formation est de leur faire acqu&eacute;rir des pr&eacute;-requis professionnels et surtout de leur permettre de se pr&eacute;parer &agrave; un retour dans la vie active ou &agrave; reprendre une formation qualifiante.</p>

<h2 style="text-align: center;"><img src="/images/cursus12mois.png" alt="cursus12mois.png" width="575" height="271" /></h2>

<h2 style="text-align: center;">La fili&egrave;re courte - 6 mois</h2>

<p>&nbsp;</p>

<p>La fili&egrave;re courte s'adresse &agrave; des jeunes poss&eacute;dant d&eacute;j&agrave; un dipl&ocirc;me dans certains m&eacute;tiers et qui n'ont pas trouv&eacute; d'emploi ou de poursuite de formation. L'objectif est de leur permettre de conserver les savoirs-faire acquis pendant leur scolarit&eacute; &agrave; travers des compl&eacute;ments de formation et des mises en application pratiques. Au cours de leur stage, ils suivront des cours de technique de recherche d'emploi et pourront passer le permis de conduire. Le but est de leur permettre de reprendre la voie de l'insertion en b&eacute;n&eacute;ificiant de la plus-value du SMA.</p>

<p class="rtecenter"><img src="/images/cursus6mois.png" alt="cursus6mois.png" width="561" height="282" /></p>

<h2 style="text-align: center;">&nbsp;</h2>

<h2 style="text-align: center;">Le CAPI</h2>

<p>&nbsp;</p>

<p><strong>CAPI </strong>: Certificat d&rsquo;Aptitude Personnelle &agrave; l&rsquo;Insertion</p>

<p><img src="/images/capi.jpg" alt="capi.jpg" style="width: 516px; height: 345px;" /></p>

<p>Soucieux de donner aux Volontaires du Service Militaire Adapt&eacute; (VSMA) un maximum d&rsquo;atouts pour s&rsquo;ins&eacute;rer durablement dans la communaut&eacute; nationale, le commandement du SMA d&eacute;cerne le Certificat d&rsquo;Aptitude Personnelle &agrave; l&rsquo;Insertion (CAPI).</p>

<p>Le CAPI, cr&eacute;&eacute; le 5 mai 2006 par une d&eacute;cision minist&eacute;rielle publi&eacute;e au bulletin officiel du minist&egrave;re de l&rsquo;Outre-Mer, valide l&rsquo;acquisition de comportements (savoir-&ecirc;tre et pr&ecirc;ter secours) favorables &agrave; l&rsquo;int&eacute;gration du citoyen dans la soci&eacute;t&eacute;, de comp&eacute;tences professionnelles (savoir-faire) et de connaissances g&eacute;n&eacute;rales (savoir) facilitant l&rsquo;insertion professionnelle.</p>

<p>Il est constitu&eacute; de 4 modules :</p>

<ul>

<li>Savoir-&ecirc;tre (li&eacute; &agrave; la formation citoyenne)</li>

<li>Savoir-faire (li&eacute; aux deux p&eacute;riodes de formation professionnelles)</li>

<li>Savoir lire, &eacute;crire, compter (li&eacute; &agrave; la remise &agrave; niveau scolaire)</li>

<li>Savoir secourir (PSC 1)</li>

</ul>

<p>&nbsp;</p>

<p class="rtecenter"><img src="/images/CAPI.png" alt="CAPI.png" width="525" height="337" /></p>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
