              <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Les filières de formation		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p style="text-align: justify;">&nbsp;</p>

<div class="body   cursus-formation" style="text-align: justify;">

<h1><a href="/images/Fiche 14 Mecanicien petits engins 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Agent-dentretien-automobile.jpg" alt="Agent dentretien automobile" width="NaN" height="120px" /></a><span style="color: inherit; font-family: inherit;">Agent d'entretien automobile</span></h1>

<p>L'agent d'entretien automobile entretient les véhicules et assure les petites réparations, que ce soit dans un garage, une station service ou une entreprise d’entretien rapide.</p>

<p class="rteright"><em><strong><a href="/images/RSMA_Guyane_-_Agent_dentretien_automobile.jpg" target="_blank">Voir la fiche détaillée</a></strong></em></p>

<p>&nbsp;</p>

<h1><a href="/images/Fiche 12 Agent entretien espaces verts 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Agent-dentretien-des-espaces-verts.jpg" alt="Agent dentretien des espaces verts" /></a>Agent d'entretien des espaces verts</h1>

<p class="rtejustify">L'agent d'entretien des espaces verts est capable d’utiliser les différents outils de la profession (débroussailleuse, tondeuse autoportée, tracteur avec bras articulé) tout en respectant la sécurité.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Agent_dentretien_espaces_verts.jpg" target="_blank"><em><strong>Voir la fiche détaillée</strong></em></a></p>

<p>&nbsp;</p>

<h1><a href="/images/Fiche 7 Agent entretien batiment 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Agent-dentretien-du-bâtiment.jpg" alt="Agent dentretien du bâtiment" width="120" height="120" /></a>Agent d'entretien du bâtiment</h1>

<p class="rtejustify">L'agent d'entretien des bâtiments exécute les réparations courantes qui ne nécessitent pas l’intervention d’entreprises spécialisées. Il assure la veille, le contrôle et l’entretien des différentes installations.</p>

<p>&nbsp;</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Agent_dentretien_du_batiment_10_mois.jpg" target="_blank"><em><strong>Voir la fiche détaillée - Formation de 10 mois</strong></em></a></p>

<p><span style="color: #008080;"><a style="color: #008080;" href="/images/RSMA_Guyane_-_Agent_dentretien_du_batiment_6_mois.jpg" target="_blank"><em></em> <strong><em>Voir la fiche détaillée - Formation de 6 mois</em></strong></a></span></p>

<p>&nbsp;</p>

<h1><a href="/images/Fiche 19 agent securite 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Sécurité.jpg" alt="Sécurité" width="120px" height="106px" /></a>Agent de prévention et de sécurité</h1>

<p>L'agent de prévention et de sécurité est capable d’assurer le gardiennage et la surveillance des bâtiments d’habitation et des locaux commerciaux.</p>

<p class="rteright"><strong><em><a href="/images/RSMA_Guyane_-_Agent_de_Prevention_et_de_Securite.jpg" target="_blank">Voir la fiche détaillée</a></em></strong></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 18 agent magasinier 10.pdf" target="_blank"><img src="/images/phocagallery/Formations/Agent_magasinier.png" alt="magasinier.png" width="118" height="118" /></a>Agent magasinier</strong></h1>

<p class="rtejustify">L'agent magasinier sait gérer un magasin dans son organisation. Il est titulaire du CACES (Certificat d’aptitude à la conduite en sécurité) et s’occupe des stocks entrants et sortants.<strong><br /></strong></p>

<p class="rteright"><strong><em><a href="/images/RSMA_Guyane_-_Agent_magasinier.jpg" target="_blank">Voir la fiche détaillée</a></em></strong></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 20 Agent restauration 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Agent-de-restauration.jpg" alt="Agent de restauration" /></a>Agent polyvalent de restauration</strong></h1>

<p>L'agent polyvalent de restauration assure la préparation des plats en cuisine sous l'égide du chef cuisinier, il effectue le service en salle. Il peut également assurer les fonctions de commis de bar.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Agent_polyvalent_de_restauration.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 10 conducteur engins TP 12.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Conducteur-dengins-de-travaux-publics.jpg" alt="Conducteur dengins de travaux publics" /></a>Conducteur d'engins de Travaux Publics</strong></h1>

<p class="rtejustify">Pouvant exercer son activité sur tous les chantiers de travaux publics et bâtiments, le conducteur d'engins de Travaux Publics entretient également les voiries et espaces publics.<strong><br /></strong></p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Conducteur_engins_travaux_publics.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 17 conducteur routier 12.pdf" target="_blank"><img src="/images/routier.png" alt="routier.png" /></a>Conducteur tous transports</strong></h1>

<p>Le conducteur tous transports est capable de transporter des marchandises ou des personnes. Il assure l’entretien de son véhicule et veille à la sécurité du matériel ou du personnel transporté.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Conducteur_tous_transports.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 3 electricien 10.pdf" target="_blank"><img src="/images/medium_Vignette ELECTRICIEN.png" alt="electric.png" /></a>Électricien d'équipement</strong></h1>

<p class="rtejustify">L'électricien d'équipement réalise des installations domestiques voire tertiaires et effectue également des dépannages, «tire» des câbles et raccorde des armoires électriques en toute sécurité.<strong><br /></strong></p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Electricien_dequipement.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 11 horticulteur 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Horticulteur.jpg" alt="Horticulteur" /></a>Horticulteur</strong></h1>

<p class="rtejustify">L'horticulteur est capable d'assurer la culture des végétaux en pépinière ou en plein air, d'effectuer le suivi des bouturages, de créer des compositions florales.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Horticulteur.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 4 Plombier 10.pdf" target="_blank"><img src="/images/phocagallery/Formations/Installateur_Sanitaire_Plomberie_-_Metiers_du_froid_.png" alt="plombier.png" width="136" height="77" /></a>Installateur Sanitaire Plomberie - Métiers du froid</strong></h1>

<p class="rtejustify">L'installateur Sanitaire Plomberie réalise des ouvrages de raccordement et d’assemblage, effectue l’entretien des installations sanitaires et travaille dans le domaine de la climatisation.<strong><br /></strong></p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Installateur_sanitaire_plomberie_-_Metiers_du_froid.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 1 Macon 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Maçon.jpg" alt="Maçon" /></a>Maçon</strong></h1>

<p class="rtejustify">Le maçon est un ouvrier polyvalent dans le domaine du bâtiment. Sa formation est essentiellement basée sur la pratique et s’appuie sur les référentiels AFPA.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Macon.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 14 Mecanicien petits engins 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Mécanicien-petits-engins.jpg" alt="Mécanicien petits engins" width="120px" height="NaN" /></a>Mécanicien petits engins</strong></h1>

<p>Le mécanicien petits engins est <span style="font-size: 10pt;">capable</span> d’effectuer des opérations d’entretien et de réparations sur des débroussailleuses, des tondeuses, des tronçonneuses et des moteurs hors-bord 2 et 4 temps.<strong><br /></strong></p>

<p class="rteright"><strong><em><a href="/images/RSMA_Guyane_-_Mecanicien_petits_engins.jpg" target="_blank">Voir la fiche détaillée </a></em></strong></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 2 carreleur 10.pdf" target="_blank"><img src="/images/phocagallery/Formations/menuisier%20en%20btiment1.jpg" alt="Carreleur" width="143" height="107" /></a>Menuisier en bâtiment - Menuiserie et charpente bois</strong></h1>

<p class="rtejustify"><span style="font-size: 10pt;">Le menuisier est un ouvrier polyvalent du bâtiment qui est capable de réaliser des meubles simples et des travaux de menuiserie aussi bien en intérieur qu’en extérieur pour la réalisation d’ouvrages (carbet, mobilier, porte, agencement, fenêtre, etc…).</span></p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Menuisier_en_batiment_-_Menuiserie_et_charpente_bois.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 5 Menuisier en batiment 10.pdf" target="_blank"><img src="/images/Les_filières_de_formation/Menuisier.jpg" alt="Menuisier" /></a>Menuisier en bâtiment - Menuiserie bois et aluminium</strong></h1>

<p class="rtejustify">Le menuisier est un ouvrier polyvalent du domaine de la menuiserie et de la pose de menuiserie aluminium, ayant acquis des notions de fabrication et de pose aussi bien en intérieur qu’en extérieur pour la réalisation d’ouvrages (mobilier, porte, agencement, fenêtre, etc…).</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Menuisier_en_batiment_-_Menuiserie_bois_et_aluminium.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/phocagallery/Formations/RSMA-Guyane_2019_-_5_agent_dentretien_du_batiment_6_mois.jpg" target="_blank"><img src="/images/phocagallery/Formations/multitechnique.jpg" alt="Petite Enfance" width="117" height="78" /></a>Multitechnique</strong></h1>

<p>Le but de cette formation est d’offrir aux jeunes, des communes de l’intérieur, une polyvalence au service de leurs communautés.</p>

<p class="rteright"><strong><em><a href="/images/RSMA_Guyane_-_Multitechnique.jpg" target="_blank">Voir la fiche détaillée</a></em></strong></p>

<br />

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/phocagallery/Formations/RSMA-Guyane_2019_-_5_agent_dentretien_du_batiment_6_mois.jpg" target="_blank"><img src="/images/Les_filières_de_formation/Petite-Enfance.jpg" alt="Petite Enfance" /></a>Petite Enfance</strong></h1>

<p>L'auxiliaire petite enfance prend en charge les besoins quotidiens de l'enfant en veillant à sa sécurité et à son bien-être.</p>

<p class="rteright"><strong><em><a href="/images/RSMA_Guyane_-_Petite_enfance.jpg" target="_blank">Voir la fiche détaillée</a></em></strong></p>

<p><strong>&nbsp;</strong></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><img src="/images/phocagallery/Formations/remise%20%20niveau3.jpg" alt="ran" width="125" height="83" />Remise à niveau et employabilité du secondaire</strong></h1>

<p class="rtejustify">Le but de cette formation est d’offrir à des jeunes déjà qualifiés dans le domaine secondaire, une remise à niveau scolaire et professionnelle et surtout de concrétiser leur projet professionnel. Leur passage au SMA est une phase de transition qui doit permettre d’augmenter leur employabilité voire de reprendre un cursus de formation supérieur à leur niveau actuel.</p>

<p><em><strong><a href="/images/RSMA_Guyane_-_Remise_a_niveau_et_employabilite_-_secondaire.jpg" target="_blank">Voir la fiche détaillée</a></strong></em></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><a href="/images/Fiche 16 RANE Ter 6.pdf" target="_blank"><img src="/images/phocagallery/Formations/remise%20%20niveau2.jpg" alt="Remise à niveau employabilité du tertiaire" width="135" height="90" /></a>Remise à niveau et employabilité du tertiaire</strong></h1>

<p>Cette remise à niveau s'adresse aux jeunes, déjà diplômés, pour les accompagner de façon personnalisée (CV, lettre de motivation, bilan de compétences, techniques de recherche d’emploi...) afin de réaliser leur projet professionnel ou scolaire.</p>

<p class="rteright"><a href="/images/RSMA_Guyane_-_Remise_a_niveau_et_employabilite_-_tertiaire.jpg" target="_blank"><strong><em>Voir la fiche détaillée</em></strong></a></p>

<p><strong>&nbsp;</strong></p>

<h1><strong><img src="/images/phocagallery/Formations/Conducteur_.png" alt="condtp" width="121" height="68" />Conducteur Voirie et Réseaux Divers</strong></h1>

<p class="rtejustify">La formation Conducteur Voirie et Réseaux Divers a pour vocation d'apprendre à réaliser des travaux de construction et d’entretien des voiries et espaces publics, d’aménagements urbains ou de loisirs ainsi que des réseaux en tranchées.</p>

<p class="rteright"><em><strong><a href="/images/RSMA_Guyane_-_Voirie_reseaux_divers.jpg" target="_blank">Voir la fiche détaillée</a></strong></em></p>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
