        <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			LES FORMATIONS		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div>

<h2 style="text-align: center;">&nbsp;</h2>

<h2 style="text-align: center;"><a href="/images/Affiche recrutement.pdf" target="_blank"><img src="/images/Miniature recrutement.jpg" alt="" style="width: 500px; height: 710px;" /></a></h2>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
