   <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Où sommes-nous ?		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div>

<p>Le RSMA de la Guyane est situé sur les anciennes emprises des deux unités du SMA de la Guyane. Cette double localisation lui permet de se situer dans les deux principaux bassins d'emploi de la Guyane.</p>

<p>Séparé par plus de 270 km, le RSMA de la Guyane dispose d'infrastructures cohérentes et adaptées au différents bassins d'emploi et de recrutement de la Guyane.</p>

<h2>Saint-Jean du Maroni : siège du RSMA de la Guyane</h2>

<p>L'état-major avec deux compagnies est situé à Saint-Jean du Maroni, village situé sur les bords du Maroni à 17 km au sud de Saint-Laurent du Maroni.</p>

<p><img src="/images/slmstj.jpg" alt="slmstj" /></p>

<p>Le RSMA de la Guyane est installé sur le Quartier NEMO, il est co-localisé avec la base opérationelle avancée du 9ème RIMa qui se trouve sur le bord du Maroni.</p>

<p><img src="/images/stj.jpg" alt="stj" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>Plan du Quartier NEMO</h3>

<p><img style="margin-left: 5px; margin-right: 5px; float: left;" src="/images/plannemo.jpg" alt="plannemo" /></p>

<p><a href="http://smaguyanej3.123-domaine.com/images/QuartierNEMOhd.jpg">Télécharger en haute résolution</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h2>La 2ème Compagnie de formation professionelle, notre détachement de Cayenne</h2>

<p><img style="width: 499px; height: 296px; margin-left: 5px; margin-right: 5px; float: left;" src="/images/cay.jpg" alt="cay" width="499" height="296" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>Le quartier Félix EBOUE</h3>

<p><img style="width: 480px; height: 301px;" src="/images/qfe.jpg" alt="qfe" width="480" height="301" /></p>

<p>&nbsp;</p>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
