     <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Qui sommes-nous ?		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body" style="text-align: justify;">

<div>

<p class="rtejustify"><img style="width: 200px; height: 259px; margin-right: 10px; margin-left: 10px; float: left;" src="https://www.rsmaguyane.fr/images/insigne.png" alt="insigne" width="200" height="259" />Le Régiment du Service Militaire Adapté (RSMA) de la Guyane sous sa forme actuelle a été créé&nbsp;le 15 juillet&nbsp;2008, issue de la fusion du 3ème RSMA qui était stationné à CAYENNE sur le quartier Félix Eboué et du GSMA stationné à Saint-Jean du Maroni.</p>

<p class="rtejustify">Aujourd'hui, le RSMA de la Guyane est installé sur les deux emprises historiques du SMA en Guyane. La portion centrale est à Saint-Jean du Maroni avec l'état-major, la compagnie de formation professionnelle de logistique et d'instruction (CFPLI) et la 1ère compagnie de formation professionnelle (1ère CFP).Le détachement situé à Cayenne sur l'ancien site du 3ème RSMA est armée par le 2ème compagnie de formation professionnelle</p>

<p class="rtejustify">Après cette restructuration, le régiment a conservé un détachement à Cayenne afin de garder une capacité de recrutement et de formation dans la ville principale du département. Cette double localisation permet au régiment de rayonner sur les deux pôles économiques guyanais et ainsi d'accomplir pleinement sa mission de "<strong>recrutement-formation-éducation-insertion</strong>" là où se trouvent les jeunes en difficulté ou en échec scolaire.</p>

<p class="rtejustify">Financé en partie par les fonds structurels européens et appuyé par une dynamique en faveur des jeunes et de l'emploi, le RSMA de la Guyane se modernise d'année en année afin de proposer un outil pédagogique performant et adapté.</p>

<p class="rtejustify">Le développement de l'infrastructure à Saint-Jean du Maroni a permis dès 2012 d'accueillir un nombre accru de jeunes guyanais, afin de répondre aux ambitions du plan SMA 2014 décidé par le président de la république en février 2009.</p>

<p class="rtejustify">Particulièrement bien adaptées au tissu économique local et reconnues chez les professionnels et les administrations, les différentes formations dispensées au RSMA de la Guyane attirent toujours autant. <strong>Des métiers du bâtiment à celui de la petite enfance, les filières proposées par le RSMA de la Guyane sont en adéquation avec les besoins du département.</strong> A l'écoute des professionnels et du marché de l'emploi, le RSMA de la Guyane fait évoluer ses propositions de formation. Avec l'arrivée des filières courtes en 2011 (6 mois), le RSMA de la Guyane offre aux jeunes faiblement diplômés et en recherche d'emploi un nouveau départ dans la vie active.</p>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
