     <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Les compagnies		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>&nbsp;</p>

<table border="0" cellspacing="1" cellpadding="1" align="center">

<tbody>

<tr>

<td><img src="/images/Insigne%20CFPLI.JPG" alt="Insigne CFPLI.JPG" /></td>

<td>

<p>la CFPLI est la compagnie d&rsquo;instruction et de soutien du R&eacute;giment du service militaire adapt&eacute; de la Guyane.</p>

</td>

</tr>

<tr>

<td><img src="/images/INSIGNE-RSMA-GUYANE-CFP1-petit-encadre.png" alt="INSIGNE RSMA GUYANE CFP1 petit encadre" width="213" height="197" style="display: block; margin-left: auto; margin-right: auto;" /></td>

<td>

<p>Compagnie de 250 hommes, cr&eacute;&eacute;e le 3 ao&ucirc;t 2007, la 1&egrave;re Compagnie de Formation Professionnelle est compos&eacute;e de 6 sections professionnelles comprenant 14 formations et d&rsquo;une section commandement. Situ&eacute;e sur le quartier NEMO &agrave; Saint-Jean du Maroni, elle dispense principalement des formations dans le BTP, les espaces verts et la m&eacute;canique.</p>

</td>

</tr>

<tr>

<td><img src="/images/2CFP.jpg" alt="2CFP.jpg" /></td>

<td>

<p>La 2&egrave;me Compagnie de Formation Professionelle est stationn&eacute;e &agrave; Cayenne sur le site du 3&egrave;me RSMA dissous en 2008. Compos&eacute;e de 240 hommes, elle dispense les formations administratives, de la restauration, des magasiniers et techniciens de vente, du transport routier, de la s&eacute;curit&eacute; et de la petite enfance.</p>

</td>

</tr>

</tbody>

</table>

<p><br /> &nbsp;</p>

<p>&nbsp;</p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
