                                       <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Notre mission		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div>

<div class="cadre">

<h3>Un contexte économique difficile</h3>

<p>En Guyane, le contexte économique difficile et surtout le caractère massif du chômage depuis plusieurs années ont considérablement compliqué l’insertion professionnelle des jeunes et même leur intégration dans la vie d’adulte, y compris pour un bon nombre de jeunes diplômés inscrits durablement dans une situation de chômage. D’autres jeunes, sans diplôme, incapables de maîtriser les notions élémentaires sont dans l’impossibilité de réussir un examen ou une formation.</p>

<h3>Les jeunes en échec scolaire</h3>

<p>Sans qualification, ces jeunes sont, dès lors, ceux qui ont le plus de difficultés à s’intégrer dans la société. Sans qu’il y ait de lien systématique, mais plutôt une sorte de « logique statistique », ces jeunes en échec, qui ne trouvent pas leur place dans la société, sont ceux qui ont le plus de chance d’être les victimes de la délinquance.</p>

<h3>Les jeunes diplômés sans emploi</h3>

<p>Les jeunes diplômés, en situation de chômage de longue durée ont de plus en plus de difficultés à pouvoir prétendre à l’emploi direct. L’ouverture qui leur est faite leur permettra de bénéficier d’un appui solide dans leurs démarches d’insertion professionnelle.</p>

<h3>Nos objectifs</h3>

<p>Notre objectif au RSMA-Gy est de remettre ce jeune dans des conditions favorables à s’insérer durablement dans l’emploi par le biais de :</p>

<ul>

<li>remise à niveau professionnelle</li>

<li>remise à niveau scolaire</li>

<li>remise à niveau comportementale</li>

<li>technique de recherche d’emploi</li>

</ul>

<p>&nbsp;</p>

</div>

<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.rsmaguyane.fr/images/Capture-decran-2018-07-02-a-14.09.39.png" alt="Capture decran 2018 07 02 a 14.09.39" /></p>

<p style="text-align: center;">Pour consulter le rapport d'activité 2017, <a href="/images/Le-SMA_RA2017_web.pdf" target="_blank">cliquez ici</a>.</p>

<p style="text-align: center;">Et pour sa synthèse, <a href="/images/Le-SMA_RA2017_synthese.pdf" target="_blank">cliquez ici</a>.</p>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
