               <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Etre volontaire technicien comme première expérience		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h1><img src="/images/VT.jpg" alt="VT" style="display: block; margin-left: auto; margin-right: auto;" /></h1>

<h1>&nbsp;</h1>

<h1 class="western" style="text-align: center;"><span style="font-size: 14pt;">Conditions requises</span></h1>

<hr />

<h3 class="western" style="text-align: center;"><strong>CAP ou BEP minimum</strong></h3>

<h3 class="western" style="text-align: center;"><strong>Gar&ccedil;on ou fille de nationalit&eacute; Fran&ccedil;aise</strong></h3>

<h3 class="western" style="text-align: center;"><strong>Avoir entre 18 et 26 ans</strong></h3>

<h3 class="western" style="text-align: center;"><strong>Avoir &eacute;t&eacute; recens&eacute;</strong></h3>

<hr />

<h1 style="text-align: center;">&nbsp;</h1>

<p>Le RSMA de la Guyane recrute des filles et des gar&ccedil;ons dipl&ocirc;m&eacute;s qui souhaitent acqu&eacute;rir une premi&egrave;re exp&eacute;rience professionnelle enrichissante, que ce soit dans le soutien ou dans l'encadrement des stagiaires.</p>

<p>La diversit&eacute; des postes offerts par le RSMA de la Guyane permet &agrave; celui ou celle qui est pr&ecirc;t &agrave; s'investir de s'&eacute;panouir dans un environnement unique.</p>

<p>Les volontaires techniciens peuvent postuler &agrave; des emploi dans le soutien, c'est &agrave; dire tous les services qui contribuent &agrave; la bonne marche du r&eacute;giment. Ceux qui souhaitent postuler pour un poste dans l'encadrement se verront proposer un poste dans l'une des fili&egrave;res de formation comme aide-moniteur &agrave; la formation ou &agrave; l'instruction. Ils pourront partager leurs comp&eacute;tences et se perfectionner au contact d'un encadrement de qualit&eacute;.</p>

<p>Celui qui s'engage comme volontaire technicien b&eacute;n&eacute;ficiera de:</p>

<ul>

<li>

<p style="margin-bottom: 0cm;">Un salaire de 850 euros/mois</p>

</li>

<li>

<p style="margin-bottom: 0cm;">Il sera log&eacute; et nourri</p>

</li>

<li>

<p style="margin-bottom: 0cm;">45 jours de cong&eacute;s annuels</p>

</li>

<li>

<p style="margin-bottom: 0cm;">La pr&eacute;sentation au permis B</p>

</li>

<li>

<p style="margin-bottom: 0cm;">La formation aux premiers secours</p>

</li>

<li>

<p style="margin-bottom: 0cm;">La possibilit&eacute; de renouveller son contrat jusqu'&agrave; 48 mois</p>

</li>

<li>

<p>Un suivi individualis&eacute; pour la recherche d'un emploi ou la poursuite d'une formation</p>

</li>

</ul> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
