             <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			S'engager comme EVSMA		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div>

<p class="rtecenter"><img style="width: 300px; height: 451px; margin: 5px auto; display: block;" src="/images/evsma.jpg" alt="evsma" width="300" height="451" /></p>

<p>Vous êtes recruté pour remplir les fonctions de formateur et d’encadrant. Chef de filière de formation professionnelle, placé sous les ordres d’un chef de section responsable du pôle de formation, vous aurez pour missions :</p>

<ul>

<li>de participer à l’élaboration des référentiels de formation ;</li>

<li>de participer à la mise en place des emplois du temps (volume horaire, moyens pédagogiques et articulation des modules de formation) ;</li>

<li>d’élaborer les fiches de séance ;</li>

<li>de conduire les séances de formation professionnelle ;</li>

<li>d’assurer le suivi des matériels techniques et pédagogiques ;</li>

<li>de respecter et faire respecter les mesures d’hygiène et de sécurité du travail ;</li>

<li>de participer à l’insertion des volontaires stagiaires.</li>

</ul>

<p>Par ailleurs, vous aurez un rôle de gradé d’encadrement car, parallèlement à cette mission de formateur technique, vous participerez :</p>

<ul>

<li>aux différentes activités militaires et sportives du régiment ;</li>

<li>à l’encadrement de la formation générale initiale des volontaires ;</li>

<li>aux services de l’unité ;</li>

<li>à la formation civique et morale des stagiaires, en faisant preuve d’exemplarité sur le plan de la tenue, du comportement et du respect des ordres et des horaires.</li>

</ul>

<h2>&nbsp;</h2>

<h2>Votre formation</h2>

<p>La formation initiale (militaire et de spécialité) s'effectue durant les 6 premiers mois de service en deux périodes.<br /> La formation au CFIM (Centre de Formation Initiale des Militaires du rang) localisé au 21ème Régiment d’infanterie de marine à Fréjus comprend :</p>

<ul style="list-style-type: disc;">

<li>la formation militaire initiale (FMI) d’une durée de 6 semaines au cours de laquelle sont acquis les savoir-faire fondamentaux du métier des armes et les savoir-être liés à l’état de militaire;</li>

<li>la formation générale élémentaire (FGE) d’une durée de 6 semaines comprend :</li>

</ul>

<p style="padding-left: 30px;">- une formation de gradé d’encadrement avec un effort particulier sur l’exercice de l’autorité et la formation morale sanctionnée par l’obtention du certificat militaire élémentaire (CME) spécialité SMA.<br /> - une seconde formation est délivrée au Centre militaire de formation professionnelle (CMFP/AFPA) de Fontenay-le-Comte : la formation de spécialité initiale et élémentaire (FSI/FSE) de 11 semaines (dispensée par l’AFPA), prépare à la fonction pédagogique de moniteur du SMA. Elle est sanctionnée par l’obtention du diplôme d’encadrant technique d’insertion.</p>

<p>&nbsp;</p>

<h2>Nos conditions de recrutement</h2>

<p>Être âgé au minimum de 18 ans et avoir moins de 29 ans à la date de signature du contrat.</p>

<p>BEP, BAC, BAC +, dans les spécialités enseignées au sein des unités du SMA.</p>

<p>&nbsp;</p>

<h2>Informations pratiques</h2>

<p>&nbsp;</p>

<h3>Où serez-vous incorporés ?</h3>

<p>Votre incorporation aura lieu au CFIM à Fréjus (VAR) pour une formation militaire initiale de 3 mois et se poursuivra, également pour 3 mois, au centre militaire de formation professionnelle (CMFP) de Fontenay-le-Comte en partenariat avec l'association nationale pour la formation professionnelle des adultes (AFPA). Ce dernier stage a pour but de vous apporter un volet pédagogique à votre formation de moniteur-éducateur. A l'issue, vous rejoindrez votre affectation outre-mer.</p>

<h3>Pour quelle durée ?</h3>

<p>La durée maximale de service sous contrat habituellement autorisée pour un engagé volontaire du SMA est de huit ans. Cette durée maximale de contrat procède d'une mesure de gestion édictée par le ministère de la défense et le SMA. Il n'est pas prévu de l'augmenter dans la mesure où les emplois hors ministère de la défense n'ont pas vocation à être pérennisés.</p>

<h3>Quelles rémunérations ?</h3>

<p>Cette fourchette de salaire n'est donnée qu'à titre indicatif. Elle est fonction du territoire d'affectation, du grade et de la durée des services : 1325,5 € par mois (solde de base brute pour les six premiers mois en métropole).</p>

<p><br /> Pour la Guyane, la solde est majorée de 25% et l’indemnité d’installation est d’environ 9 500€ (pour un séjour de 18 mois). Les indemnités sont versées en plusieurs fractions.</p>

<p class="rtecenter">&nbsp;</p>

<p>Pour plus d'informations consulter le site du SMA : <a href="http://www.le-sma.com/rejoindre-le-sma/engage-volontaire-du-service-militaire-adapte.html" target="_blank" rel="noopener">le-sma.com</a></p>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
