  <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Cercle-mess du RSMA-Guyane		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div style="text-align: center;"><span style="font-size: 12pt;">Les cercles-mess offrent une solution pratique d'hébergement et de restauration </span>

<div style="text-align: center;"><span style="font-size: 12pt;">à l'occasion d'une mission ou d'un séjour d'agrément sur</span><span style="font-size: 12pt;"> tout le territoire français.</span><span style="font-size: 12pt;"></span></div>

</div>

<div>&nbsp;</div>

<div>

<p>&nbsp;</p>

<p style="text-align: justify;">Le cercle du camp Némo, situé à St-Jean du Maroni, propose aux ayants-droits (militaires et personnels de la défense d’active ainsi qu'à leurs familles) divers services : restauration, bar, hôtellerie.</p>

<p style="text-align: justify;"><span style="text-decoration: underline;"><strong>Hôtellerie</strong></span></p>

<p style="text-align: justify;">Sur réservation par mail ou par téléphone et dans la limite des disponibilités, la structure hôtelière offre une capacité d'accueil de 9 chambres pour 2 à 5 personnes.</p>

<p style="text-align: justify;">Les chambres possèdent toutes&nbsp;une salle de bain privative, la climatisation et l’accès au WI-FI.</p>

<p style="text-align: justify;">Informations utiles&nbsp;:</p>

<ul style="text-align: justify;">

<li>Arrivée avant 17h00</li>

<li>Entrée dans le camp Némo par le poste de garde muni d’une pièce d’identité</li>

<li>Libération des chambres avant 10h00</li>

<li>Règlement lors du départ par chèque, CB ou en espèce</li>

<li>Les clients de l’hôtel ont également accès à la piscine du camp</li>

<li><span style="text-decoration: underline;">Tarifs</span> :

<ul>

<li style="list-style-type: none;">

<ul>

<li>1 nuit pour 1 ou 2 personnes : 39,00€</li>

<li>1 nuit pour 3 personnes : 45,00€</li>

<li>1 nuit pour 4 personnes : 54,00€</li>

<li>1 nuit pour 5 opersonnes : 62,00€</li>

<li>1 nuit pour 6 personnes : 70,00€</li>

</ul>

</li>

</ul>

</li>

</ul>

<p>&nbsp;</p>

<p style="text-align: justify;"><span style="text-decoration: underline;"><strong>Restauration</strong></span></p>

<p style="text-align: justify;">Installé sous le carbet à proximité de l’hôtel, le mess est ouvert&nbsp;à compter de 6h30 et jusqu’à 08h00.</p>

<p style="text-align: justify;">Un petit-déjeuner de type continental est proposé au tarif de 3.50€ par personne.</p>

<p style="text-align: justify;">Vous avez la possibilité de prendre le repas du midi au cercle-mess au tarif de 7.50€ par personne du lundi midi au vendredi midi inclus.</p>

<p style="text-align: justify;">Le cercle-mess est fermé le soir et le week-end.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size: 12pt;"><strong>N'hésitez pas à réserver par téléphone au 05.94.34.45.46</strong></span></p>

<p style="text-align: center;"><span style="font-size: 12pt;"><strong>ou par mail&nbsp;:&nbsp;<span id="cloakdda5f1a4c768a250cf79d6fa1b217eca">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloakdda5f1a4c768a250cf79d6fa1b217eca').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addydda5f1a4c768a250cf79d6fa1b217eca = 'h&#111;t&#101;l-c&#101;rcl&#101;-rsm&#97;' + '&#64;';
				addydda5f1a4c768a250cf79d6fa1b217eca = addydda5f1a4c768a250cf79d6fa1b217eca + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textdda5f1a4c768a250cf79d6fa1b217eca = 'h&#111;t&#101;l-c&#101;rcl&#101;-rsm&#97;' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakdda5f1a4c768a250cf79d6fa1b217eca').innerHTML += '<a ' + path + '\'' + prefix + ':' + addydda5f1a4c768a250cf79d6fa1b217eca + '\'>'+addy_textdda5f1a4c768a250cf79d6fa1b217eca+'<\/a>';
		</script></strong></span></p>

<p style="text-align: center;"><span style="font-size: 12pt;">RSMA-Guyane - Camp Némo - 97320 ST-JEAN DU MARONI</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img src="/images/Cercle-mess.png" alt="Cercle mess" style="display: block; margin-left: auto; margin-right: auto;" /></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
