                                      <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			CONTACT		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div>

<table border="1" dir="ltr" style="width: 100%;" cellspacing="0" cellpadding="0">

<tbody>

<tr>

<td align="center">

<h3><span style="font-size: 22px;">POUR DEVENIR VOLONTAIRE STAGIAIRE</span></h3>

<p class="rtecenter"><a href="/documents-a-fournir.html"><span style="font-size: 22px;">Documents à fournir</span></a></p>

</td>

<td class="rtecenter">

<h3><span style="font-size: 22px;">POUR DEVENIR VOLONTAIRE TECHNICIEN</span></h3>

<p dir="rtl"><a href="/documents-a-fournir.html"><span style="font-size: 22px;">Documents à fournir</span></a></p>

</td>

</tr>

</tbody>

</table>

<hr />

<p>Vous pouvez également vous rendre directement sur les sites du RSMA de la Guyane à Cayenne et à Saint-Jean du Maroni afin de rencontrer un conseiller qui vous guidera dans votre démarche.</p>

<table border="0" style="width: 559px; height: 339px;" cellspacing="2" cellpadding="1" align="center">

<tbody>

<tr>

<td style="width: 238px;" align="center" valign="middle">

<h2 style="text-align: center;">Site de</h2>

<h2 style="text-align: center;">Cayenne</h2>

</td>

<td>

<h2 class="rtecenter" style="text-align: center;">Site de</h2>

<h2 class="rtecenter" style="text-align: center;">Saint-Jean du Maroni</h2>

</td>

</tr>

<tr>

<td>

<p class="rtecenter">Camp du Tigre<br /> Quartier Félix EBOUE BP 7012<br /> 97307 Cayenne Cedex</p>

</td>

<td class="rtecenter">Quartier NEMO BP 246<br /> 97393 Saint-Laurent du Maroni Cedex</td>

</tr>

<tr>

<td colspan="2" align="center" valign="middle">

<h2 style="text-align: center;">Bureau Recrutement</h2>

</td>

</tr>

<tr>

<td class="rteright">05 94 39 58 24</td>

<td class="rteright">05 94 34 45 09</td>

</tr>

<tr>

<td class="rteright">mobile&nbsp;- whatsapp&nbsp; 06 94 44 08 27</td>

<td class="rteright">mobile&nbsp;- whatsapp 06 94 24 18 27</td>

</tr>

<tr>

<td colspan="2">

<p style="text-align: center;">Horaires d'ouverture:<br /> Tous les jours de 9h00 à 12h00<br /> et le lundi, mardi et jeudi de 14h15 à 17h00</p>

</td>

</tr>

</tbody>

</table>

<p>&nbsp;</p>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
