        <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Documents à fournir		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body"><div><ul>

	<li class="rteleft">

		1 photocopie recto-verso de la pi&egrave;ce d&#39;identit&eacute; (Carte d&#39;identit&eacute; ou passeport)</li>

	<li class="rteleft">

		1 photocopie de l&#39;attestation de rencensement</li>

	<li class="rteleft">

		1 photocopie de l&#39;attestation de JAPD ou JDC ( si celle-ci a &eacute;t&eacute; effectu&eacute;e)</li>

	<li class="rteleft">

		1 extrait d&#39;acte de naissance Original ( &agrave; demander en mairie)</li>

	<li class="rteleft">

		1 relev&eacute; d&#39;identit&eacute; bancaire ou postal</li>

	<li class="rteleft">

		1 photocopie de la carte Vitale ou de l&#39;attestation</li>

	<li class="rteleft">

		1 photocopie du dipl&ocirc;me du PSC1 (pour ceux qui l&#39;on pass&eacute;)</li>

	<li class="rteleft">

		1 photocoie du permis de conduire ( pour les d&eacute;tenteurs )</li>

	<li class="rteleft">

		1 photocopie du document P&ocirc;le-emploi</li>

	<li class="rteleft">

		1 photo d&#39;identit&eacute;, sans coiffure au format 3.5cm x 4cm</li>

</ul>

</div></div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
