<div class="container">
					<div class="moduletable">
						
<script type="text/javascript">
jQuery(window).load(function() {
				jQuery('#favsimple-11331').flexslider({
				  animation: "fade",
				  slideDirection: "horizontal",
				  slideshow: true,
			      slideshowSpeed: 7000,
				  animationDuration: 600,directionNav: true,
				  controlNav: true,
				  keyboardNav: true,
				  mousewheel: false,
				  randomize: false,
				  animationLoop: true,
				  pauseOnAction: true,
				  pauseOnHover: true
			  });
			});

</script>

<div id="favsimple-11331" class="flexslider"
	style="background-color: #FFFFFF;"
>
  <ul class="slides">

		
    	<li>
    		 <img src="https://www.rsmaguyane.fr/images/sliders/2020_Sans_titre-1.jpg" alt="" />     		    	</li>

		
    	<li>
    		 <img src="/images/sliders/rsma-2.jpg" alt="" />     		 <p class="flex-caption">Ensemble pour réussir</p>     	</li>

		
    	<li>
    		 <img src="/images/sliders/rsma-3.jpg" alt="" />     		 <p class="flex-caption">Apprendre un métier</p>     	</li>

		
    	<li>
    		 <img src="https://www.rsmaguyane.fr/images/sliders/2020_Sans_titre-6.jpg" alt="" />     		 <p class="flex-caption">Plus de 20 formations</p>     	</li>

		
    	<li>
    		 <img src="https://www.rsmaguyane.fr/images/sliders/2020_Sans_titre-7.jpg" alt="" />     		 <p class="flex-caption">Réussir avec le RSMA Guyane</p>     	</li>

		
  </ul>
</div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<div class="company-slogan" style="text-align: center;">
<div class="region region-company-slogan">
<div id="block-block-1" class="block block-block">
<div class="content">
<p class="rtecenter">&nbsp;</p>
<p><img src="/images/logos/logo-ministere.png" alt="logo ministere" /></p>
<p class="rtecenter"><img src="/images/documents/logo%20fond%20transparent.png" alt="RSMA de la Guyane" style="width: 493px; height: 150px;" /></p>
<p class="rtecenter">&nbsp;</p>
<h2><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif; color: #003366;">Le RSMA de la Guyane recrute et forme chaque mois des jeunes de&nbsp;18 à 25 ans.</span></h2>
<p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif; color: #003366;"><span style="font-size: 12pt;">APPELEZ</span> le 05 94 39 58 24 à Cayenne </span></p>
<p><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif; color: #003366;">ou le 05 94 34 45 09 à Saint-Jean du Maroni</span></p>
<p><span style="font-size: 12pt; color: #003366; font-family: arial,helvetica,sans-serif;">CONTACTEZ-NOUS PAR MAIL : <a href="mailto:recrutement@guyane-sma.fr">recrutement@guyane-sma.fr</a></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
<!-- /.block --></div>
<!-- /.region --></div></div>
		</div>
			<div class="moduletable">
						

<div class="custom"  >
	<hr />
<p style="text-align: center;"><img src="/images/Taxe_dapprentissage_2020.png" alt="Taxe dapprentissage 2019" width="532" height="218" /></p>
<p style="text-align: center;"><span style="font-size: 14pt; color: #003366;"><span style="font-family: arial, helvetica, sans-serif;"><strong>Accompagnez l’action du RSMA-Gy </strong></span><span style="font-family: arial, helvetica, sans-serif;"><strong>en nous désignant bénéficiaire de votre taxe d’apprentissage </strong></span></span></p>
<p style="text-align: center;"><span style="color: #ff9900; font-size: 14pt;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff9900;"><a style="color: #ff9900;" href="/espace-entreprise/taxe-d-apprentissage.html">En savoir plus</a></span></strong></span></p>
<hr />
<p>&nbsp;</p></div>
		</div>
	
		</div>
	<div class="container">
								<div class="moduletable">
						

<div class="custom"  >
	<h1>Le RSMA de la Guyane</h1></div>
		</div>
	
					</div>
					<div class="container encart">
						<div class="row">
							<div class="span4">			<div class="moduletable">
							<h3>Qui sommes-nous?</h3>
						

<div class="custom"  >
	<p><a href="/rsma-guyane.html?id=42"><img src="/images/documents/Capture-decran-2018-08-02-a-13.46.46.jpg" alt="Capture decran 2018 08 02 a 13.46.46" width="965" height="646" /></a></p>
<p>Le régiment du service militaire adapté de la Guyane est une jeune unité créée en 2008, issue de la fusion du 3ème RSMA qui était stationné à CAYENNE sur le quartier Félix Eboué et du GSMA stationné à Saint-Jean du Maroni.</p>
<p style="text-align: right;"><a href="/rsma-guyane/le-regiment.html">En savoir plus</a></p></div>
		</div>
	</div>
							<div class="span4">			<div class="moduletable">
							<h3>Nos Formations</h3>
						

<div class="custom"  >
	<p><a href="/nos-formations/les-filieres-de-formation.html"> <img src="/images/Formation2.jpg" alt="Formation2" /> </a></p>

<p> Le RSMA offre une formation dans 20 m&eacute;tiers diff&eacute;rents en tant que Volontaire Stagiaire ou une premi&egrave;re exp&eacute;rience professionnelle en qualit&eacute; de Volontaire Technicien dans le soutien et la formation, &agrave; Saint-Jean du Maroni ou &agrave; Cayenne, suivant les fili&egrave;res choisies. Les formations s'adressent en priorit&eacute; aux jeunes sortis du syst&ecirc;me scolaire sans dipl&ocirc;me ou sans exp&eacute;rience professionnelle.</p>
<p style="text-align: right;"><a href="/nos-formations/les-filieres-de-formation.html">En savoir plus</a></p></div>
		</div>
	</div>
							<div class="span4">			<div class="moduletable">
							<h3>Où sommes-nous ?</h3>
						

<div class="custom"  >
	<p>
<a href="/rsma-guyane/implantation.html">
<img src="/images/loc.png" alt="loc" />

</a>
</p><p>
Le RSMA de la Guyane est stationn&eacute; &agrave; Saint-Jean du Maroni, &agrave; 17 km au sud de Saint-laurent du Maroni pour la portion centrale et &agrave; Cayenne pour la 2&egrave;me compagnie de formation professionnelle, sur l'ancien site du 3&egrave;me RSMA dissous en 2008.</p>
<p style="text-align: right;"><a href="/rsma-guyane/implantation.html">En savoir plus</a></p></div>
		</div>
	</div>
						</div>
						</div>
				
