        <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			La Réserve au RSMA-Guyane		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p style="text-align: justify;"><strong><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Vous êtes :</span></strong><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- <span style="font-family: helvetica; font-size: 10pt; color: #000000;">un </span>ancien militaire ?</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- <span style="font-family: helvetica; font-size: 10pt; color: #000000;">un </span>militaire placé en congé pour convenances personnelles pour élever un enfant de moins de huit ans ?</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">(Décret no 2018-1251 du 26 décembre 2018 portant application de l’article L. 4138-16 du code de la défense permettant aux militaires placés en congé pour convenances personnelles pour élever un enfant de moins de huit ans de souscrire un engagement à servir dans la réserve opérationnelle).</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Vous avez la possibilité (à Cayenne comme à St-Jean du Maroni) d’intégrer la Réserve opérationnelle au RSMA de la Guyane et de mettre vos compétences au service du régiment.</span></p>

<p style="text-align: justify;"><br /><strong><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Documents nécessaires à l’initialisation d’une demande d’intégration dans la réserve :</span></strong><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- lettre de motivation ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- document attestant de la nationalité française (photocopie de la carte d’identité nationale en cours de validité, passeport) ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- extrait d’acte de naissance avec filiation ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- attestation JAPD ou dispense ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- photocopie titres ou diplômes ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- copie carte VITALE ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- copie livret de famille (mariage et enfants) ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- certificat médical, avec aptitude à la réserve précisée, délivré par un médecin des armées, datant de moins d’un an. Possibilité de faire la visite en arrivant en Guyane au CMIA de Cayenne ou à l’antenne CMIA de St Jean ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- RIB ;</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- état signalétique des services (ESS).</span></p>

<p style="text-align: justify;"><br /><strong><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Durée d’emploi :</span></strong><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Vous pourrez signer un contrat de 2 ou 3 ans.</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Vous aurez la possibilité de travailler 30 jours/an, durée pouvant être allongée à 60 jours/an.</span></p>

<p style="text-align: justify;"><br /><strong><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Horaires :</span></strong><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">Vous aurez la possibilité de travailler :</span><br /><span style="font-family: helvetica; font-size: 10pt; color: #000000;">- en journée complète :</span></p>

<table style="font: 14px franklingothic, Rosario, Arial; text-align: justify; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal;" cellpadding="4" align="center">

<tbody>

<tr>

<td style="border-width: 1px; border-color: black; text-align: justify; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent;"><span style="font-size: 10pt; color: #000000;">Lundi :</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">6H30 - 12H15</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">14H15 - 17H00</span></td>

</tr>

<tr>

<td style="border-width: 1px; border-color: black; text-align: justify; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent;"><span style="font-size: 10pt; color: #000000;">Mardi :</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">6H30 - 12H30</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">14H15 - 17H00</span></td>

</tr>

<tr>

<td style="border-width: 1px; border-color: black; text-align: justify; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent;"><span style="font-size: 10pt; color: #000000;">Mercredi:</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">6H30 - 12H30</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">Quartier libre</span></td>

</tr>

<tr>

<td style="border-width: 1px; border-color: black; text-align: justify; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent;"><span style="font-size: 10pt; color: #000000;">Jeudi :</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">6H30 - 12H30</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">14H15 - 17H00</span></td>

</tr>

<tr>

<td style="border-width: 1px; border-color: black; text-align: justify; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent;"><span style="font-size: 10pt; color: #000000;">Vendredi:</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;">6H30 - 12H30</span></td>

<td style="border-width: 1px; border-color: black; padding-right: 0px; padding-left: 0px; font-family: franklingothic, Rosario, Arial; background-color: transparent; text-align: center;"><span style="font-size: 10pt; color: #000000;"><span style="color: #000000;">Quartier libre</span></span></td>

</tr>

</tbody>

</table>

<p style="text-align: justify;"><span style="color: #000000; font-family: helvetica;">- en demi-journée :<br />Une demi-journée de travail est d’une durée effective de 4h00.Il est préférable de travailler les matins (autant pour vous que pour le régiment).<br />Par exemple : Les horaires pour une matinée sont de 8h00 à 12h00.</span></p>

<p style="text-align: justify;"><span style="color: #000000; font-family: helvetica;"><br /><strong>Contact :</strong><br />Vous pouvez contacter le traitant RH responsable de la gestion du personnel de Réserve du RSMA de la Guyane :</span></p>

<p><img src="/images/Capture_decran_2020-03-24_a_161545.png" alt="Capture decran 2020 03 24 a 161545" />&nbsp;</p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
