<%=content_for :autreinfos do %>			

<div class="moduletable">
							<h3>Vous informer</h3>
						<ul class="nav menu mod-list">
<li class="item-613"><a href="/la-reserve-au-rsma-guyane.html" >La Réserve au RSMA-Guyane</a></li></ul>
		</div>
<%end%>                                        


<main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Nouveaux arrivants mutés au PAM 2021		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="body">

<div><br class="rtecenter" />

<p style="text-align: center;"><strong><img src="/images/DSCN8028-OK.jpg" alt="DSCN8028 OK" /></strong></p>

<p style="text-align: center;"><strong>Bienvenue sur l'intranet du RSMA de la Guyane. Cette partie du site s'adresse aux nouveaux arrivants, aux familles du RSMA de la Guyane et aux membres du club sportif et artistique du RSMA.</strong></p>

<p><strong>Vous venez de&nbsp;recevoir votre OMI pour le RSMA de la Guyane. Ce site vous permettra d'obtenir des renseignements utiles et d'avoir un aperçu de la vie au RSMA.</strong></p>

<p>Afin d'obtenir un accès privilégié (login / MDP)&nbsp;en tant que futur arrivant, merci d'envoyer un e-mail avec <strong>NOM - Prénom - Organisme d'affectation actuel - N° PNIA</strong> à <strong>votre président de catégorie (voir adresse mail ci-dessous)</strong>&nbsp;<strong><span style="background-color: #ffff00;">qui vous transmettra un login et son mot de passe.</span></strong></p>

<p>Vous devez savoir que vous pouvez être affecté soit sur le site de Cayenne (Quartier Félix Eboué) soit sur le site de Saint-Jean du Maroni (Quartier Némo). La portion centrale avec le soutien et les services se trouvent à Saint-Jean du Maroni et un détachement à Cayenne.</p>

<h2>Prenez&nbsp;le temps !</h2>

<p>Pour les futurs mutés, cadres et conjoints, rien ne vaut un contact téléphonique préalable avec les présidents de catégorie qui vont désigner des "parrains" parmi les cadres restants et dont la composition de la famille est à peu près identique (dans la mesure du possible). Les inscriptions aux écoles et lycées ne justifient pas d'avoir connaissance de sa mutation avant le 30 janvier. Pour information, une caisse maritime traverse l'Atlantique en 20 jours en moyenne.</p>

<h2>Contacts :</h2>

<div>Président des officiers : <span id="cloaka304da91e59d5c81c102f9a4a8dcd1d2">CBA BILLOUD -&nbsp;06 94 42 73 76 - <span id="cloak8bb2fef8a393d2272d82e261b80e69f4">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloak8bb2fef8a393d2272d82e261b80e69f4').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy8bb2fef8a393d2272d82e261b80e69f4 = 'b&#105;ll&#111;&#117;d.r&#101;n&#97;&#117;d' + '&#64;';
				addy8bb2fef8a393d2272d82e261b80e69f4 = addy8bb2fef8a393d2272d82e261b80e69f4 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text8bb2fef8a393d2272d82e261b80e69f4 = 'b&#105;ll&#111;&#117;d.r&#101;n&#97;&#117;d' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak8bb2fef8a393d2272d82e261b80e69f4').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8bb2fef8a393d2272d82e261b80e69f4 + '\'>'+addy_text8bb2fef8a393d2272d82e261b80e69f4+'<\/a>';
		</script><br /></span></div>

<div>Président des sous-officiers : ADC LEBRUN - 06 94 26 14 08 - <span id="cloak983d118cf91bd0c21e24b8ccef419eb4">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloak983d118cf91bd0c21e24b8ccef419eb4').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy983d118cf91bd0c21e24b8ccef419eb4 = 'l&#101;br&#117;n.l&#105;&#111;n&#101;l' + '&#64;';
				addy983d118cf91bd0c21e24b8ccef419eb4 = addy983d118cf91bd0c21e24b8ccef419eb4 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text983d118cf91bd0c21e24b8ccef419eb4 = 'l&#101;br&#117;n.l&#105;&#111;n&#101;l' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak983d118cf91bd0c21e24b8ccef419eb4').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy983d118cf91bd0c21e24b8ccef419eb4 + '\'>'+addy_text983d118cf91bd0c21e24b8ccef419eb4+'<\/a>';
		</script><br />

<div>Président des&nbsp;engagés volontaires&nbsp;: CC1 PAEPAETAATA - 06 94 45 64 11 - <span id="cloakfe4632520047634f9fc1ed9e86ba4d39">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloakfe4632520047634f9fc1ed9e86ba4d39').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyfe4632520047634f9fc1ed9e86ba4d39 = 'p&#97;&#101;p&#97;&#101;t&#97;&#97;t&#97;.t&#105;&#105;t&#97;&#117;' + '&#64;';
				addyfe4632520047634f9fc1ed9e86ba4d39 = addyfe4632520047634f9fc1ed9e86ba4d39 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textfe4632520047634f9fc1ed9e86ba4d39 = 'p&#97;&#101;p&#97;&#101;t&#97;&#97;t&#97;.t&#105;&#105;t&#97;&#117;' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakfe4632520047634f9fc1ed9e86ba4d39').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyfe4632520047634f9fc1ed9e86ba4d39 + '\'>'+addy_textfe4632520047634f9fc1ed9e86ba4d39+'<\/a>';
		</script><span lang="EN-US"><span id="cloak0e61921c44286ba79bc5897a9d5d60f2"></span></span></div>

</div>

</div>

<div>CDU détachement de Cayenne : CNE DAROCHA - 05 94 39 59 20 - <span id="cloak73d75896762088822b0a91d3a886a412">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloak73d75896762088822b0a91d3a886a412').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy73d75896762088822b0a91d3a886a412 = 'd&#97;r&#111;ch&#97;.&#101;mm&#97;n&#117;&#101;l' + '&#64;';
				addy73d75896762088822b0a91d3a886a412 = addy73d75896762088822b0a91d3a886a412 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text73d75896762088822b0a91d3a886a412 = 'd&#97;r&#111;ch&#97;.&#101;mm&#97;n&#117;&#101;l' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak73d75896762088822b0a91d3a886a412').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy73d75896762088822b0a91d3a886a412 + '\'>'+addy_text73d75896762088822b0a91d3a886a412+'<\/a>';
		</script><br /> Officier supérieur adjoint : CBA BILLET - 05 94 34 45 11 / fax : 05 94 34 45 87 - <span id="cloak86b8c4c54691403146d68e15d8d3e4b9">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloak86b8c4c54691403146d68e15d8d3e4b9').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy86b8c4c54691403146d68e15d8d3e4b9 = 'b&#105;ll&#101;t.l&#97;&#117;r&#101;nt' + '&#64;';
				addy86b8c4c54691403146d68e15d8d3e4b9 = addy86b8c4c54691403146d68e15d8d3e4b9 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text86b8c4c54691403146d68e15d8d3e4b9 = 'b&#105;ll&#101;t.l&#97;&#117;r&#101;nt' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak86b8c4c54691403146d68e15d8d3e4b9').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy86b8c4c54691403146d68e15d8d3e4b9 + '\'>'+addy_text86b8c4c54691403146d68e15d8d3e4b9+'<\/a>';
		</script><br /> Renseignements et inscriptions écoles : <a><span id="cloakca6f5b44d604ed0218d2582f365258c8">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloakca6f5b44d604ed0218d2582f365258c8').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyca6f5b44d604ed0218d2582f365258c8 = 'rsm&#97;sc&#111;l&#97;&#105;r&#101;' + '&#64;';
				addyca6f5b44d604ed0218d2582f365258c8 = addyca6f5b44d604ed0218d2582f365258c8 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textca6f5b44d604ed0218d2582f365258c8 = 'rsm&#97;sc&#111;l&#97;&#105;r&#101;' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakca6f5b44d604ed0218d2582f365258c8').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyca6f5b44d604ed0218d2582f365258c8 + '\'>'+addy_textca6f5b44d604ed0218d2582f365258c8+'<\/a>';
		</script></a></div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
