     <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			L'Europe au RSMA-Guyane		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<h3>&nbsp;</h3>

<p style="text-align: justify;">Le Service Militaire Adapté est un dispositif militaire d’insertion socio-professionnelle au profit des jeunes d’outre-mer, de 18 à 25 ans, les plus éloignés du marché de l’emploi. L’action du SMA s’appuie sur trois principes&nbsp;:</p>

<ul style="text-align: justify;">

<li data-mce-word-list="1">La pédagogie militaire avec les spécificités en matière de vie courante et d’encadrement.</li>

<li data-mce-word-list="1">La globalité du projet éducatif : l’action du SMA porte dans les domaines du savoir, du savoir-être et du savoir-faire.</li>

<li data-mce-word-list="1">L'employabilité : la finalité du SMA est bien le développement, en cohérence avec le marché de l’emploi, des capacités d’intégration dans la vie active de jeunes en difficulté.</li>

</ul>

<p style="text-align: justify;">Le RSMA-Guyane apporte une réponse adaptée aux difficultés auxquelles sont confrontées les jeunes femmes et les hommes de Guyane face à l’emploi&nbsp;:</p>

<ul>

<li style="text-align: justify;">Diplômés, ils manquent d’expérience ou ne disposent pas des compétences sociales suffisantes pour obtenir un premier emploi.</li>

<li style="text-align: justify;">Sans diplôme, ils n’accèdent que très difficilement à l’emploi.</li>

</ul>

<p>En 2019, nous avons obtenu les résultats suivants&nbsp;:</p>

<p>&nbsp;</p>

<table cellspacing="0" cellpadding="7"><colgroup> </colgroup>

<tbody>

<tr valign="top">

<td>Nombre de stagiaires</td>

<td style="text-align: center;">570</td>

</tr>

<tr valign="top">

<td>Taux d’illettrisme</td>

<td style="text-align: center;">69,30 %</td>

</tr>

<tr valign="top">

<td>Taux de féminisation</td>

<td style="text-align: center;">21,80 %</td>

</tr>

<tr valign="top">

<td>Taux d’insertion</td>

<td style="text-align: center;">76,12 %</td>

</tr>

</tbody>

</table>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">Ces remarquables résultats sont rendus possibles par une intégration de notre action dans les dynamiques de développement des projets professionnels tournées vers l’emploi, dynamiques aidées et entretenues en partie par l‘Union Européenne.</p>

<p>&nbsp;</p>

<h3 style="text-align: justify;">L’Union Européenne, un partenaire majeur</h3>

<p style="text-align: justify;">Le RSMA-Guyane bénéficie du Fonds Social Européen (FSE) et de l’Initiative Emploi Jeunes (IEJ) qui sont parmi les principaux leviers financiers de l’Union Européenne pour la promotion de l’emploi. Le RSMA-Guyane est également bénéficiaire du Fonds Européen de Développement Régional (FEDER) qui vise au maintien de la cohésion économique et sociale au sein de l’Union européenne en corrigeant les déséquilibres régionaux. Le projet du RSMA-Guyane s’inscrit totalement dans les objectifs des fonds européens. Le RSMA-Guyane est identifié par les gestionnaires locaux de ce fonds comme un porteur de projet reconnu ce qui lui permet de bénéficier de ces subventions. Ainsi grâce à la relation de confiance qui s’est nouée au fil des années entre les gestionnaires de ces fonds et le RSMA-Guyane, ce dernier bénéficie de près de 7 M€ au titre de l’année 2019. Le bénéfice de ces fonds européens revêt une importance toute particulière qui est indispensable à l’atteinte des objectifs du RSMA-Guyane.</p>

<p>&nbsp;</p>

<h3 style="text-align: justify;">Visite de la commission européenne au RSMA de la Guyane</h3>

<p style="text-align: justify;">Régulièrement, des membres de la Commission Européenne, accompagnés de représentants du Ministère du Travail et de l'Emploi et de la Délégation Générale à l'Outre-Mer rendent visite au RSMA de la Guyane sur les sites de Saint-Jean du Maroni ou de Cayenne. Le but de leur visite est de constater l'emploi des fonds européens au profit de la formation des jeunes guyanais. Le régiment montre ainsi l'intérêt et la pertinence d'avoir un pôle de formation dans l'ouest guyanais. Se déplaçant dans les différentes filières professionnelles, ils peuvent apprécier la spontanéité des jeunes rencontrés ainsi que la motivation des cadres chargés de la formation.&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img src="/images/documents/Bandeau_logos_2020.png" alt="Bandeau logos 2020" /></p>

<p>&nbsp;</p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
