  <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Le Label SMA &quot;INSERTION&quot;		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p style="text-align: justify;"><strong><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">Le Label SMA « INSERTION » s’inscrit dans le cadre du développement d’une démarche partenariale fondée sur la confiance mutuelle. Il s’agit d’une marque d’engagement permettant, à moyen et long terme, d’accroître la visibilité du Service Militaire Adapté, d’encourager la diffusion de son projet social et de valoriser les partenaires labelisés.</span></strong></p>

<p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">&nbsp;Le Label a pour vocation de :</span></p>

<ol style="text-align: justify;">

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">distinguer les structures d’accueil, de formation et/ou d’emploi en raison de leur engagement&nbsp;particulier dans l’accompagnement des jeunes du SMA,</span></li>

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">certifier la réalité d’un partenariat actif et d’une communauté d’esprit&nbsp;entre la structure partenaire labélisée et le SMA,</span></li>

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">garantir au bénéficiaire du SMA la nature de l’engagement et l’expérience acquise par la structure&nbsp;dans laquelle il va être accueilli après la fin de sa formation au SMA.</span></li>

</ol><hr />

<h4 style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;"><strong>Quelques points à retenir :</strong><br /></span></h4>

<p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">Seuls les partenaires de performance (permettant l'insertion directe des jeunes du SMA) sont éligibles au label SMA «INSERTION». Chacun de ces partenaires est évalué à partir d’un référentiel constitué de critères communs pour l’ensemble des structures «labelisables» et de critères spécifiques adaptés à l’activité de la chaque structure.</span></p>

<hr />

<p style="text-align: justify;"><strong><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">Principe du libre consentement :</span></strong></p>

<p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">L’éligibilité des partenaires n’implique pas leur labellisation. En effet, après une évaluation favorable, le comité du Label informe la structure éligible de la volonté du SMA de la labelliser. La structure est alors libre d’accepter ou de refuser la proposition.</span></p>

<hr />

<p style="text-align: justify;"><strong><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">Acceptation de la labellisation :</span></strong></p>

<p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">En acceptant la labellisation, la structure s’engage à :</span></p>

<ul style="text-align: justify;">

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">maintenir, au moins pendant la durée de validité du Label, ses engagements&nbsp;en faveur des jeunes issus du SMA ;&nbsp;</span></li>

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">participer à l’amélioration et au développement d’actions complémentaires&nbsp;liées à l’accompagnement des jeunes issus du SMA ;</span></li>

<li><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">promouvoir le rôle socio-professionnel du SMA&nbsp;ainsi que le profil des jeunes en sortant.</span></li>

</ul>

<p style="text-align: justify;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">Un suivi des critères de labellisation, en lien avec la structure partenaire, sera effectué par le comité du Label durant la phase de validité afin de garantir le respect des engagements de chaque partie. Un état annuel sera formalisé par le comité du Label.</span></p>

<p><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;"><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;"><img src="http://www.le-sma.com/images/stories/Articles/2014_-_04/Label-SMA1617-mini.jpg" alt="Label SMA1617 mini" width="181" height="273" style="display: block; margin-left: auto; margin-right: auto;" /></span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><span style="font-family: arial,helvetica,sans-serif; font-size: 12pt;">NOFRAYANE - GEIQ (Groupement d’employeurs pour l’Insertion et la Qualification)</span></strong></p>

<p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial,helvetica,sans-serif;">Le 28 octobre 2015,<span class="text_exposed_show"> la société NOFRAYANE s’est vu remettre le</span> « Label SMA d’Insertion »&nbsp;; une première en Outre-Mer. Il récompense la relation et les compétences professionnelles de l’entreprise, dans le domaine de la formation du BTP, de l’insertion et de l’accompagnement des jeunes guyanais. Ce label est le fruit de l’engagement de l’ensemble des collaborateurs de Nofrayane et de l’implication des tuteurs qui accompagnent des jeunes du GEIQ en leur transmettant leur savoir-faire, leurs compétences et leurs valeurs. <span class="text_exposed_show"></span><br /></span></p>

<p style="text-align: justify;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Ce label, <span class="text_exposed_show">symbole du lien, de l’efficacité et de la confiance mutuelle qui peut exister entre les partenaires et le Régiment du Service Militaire Adapté de la Guyane a de nouveau été remis</span></span> le 5 décembre 2017, au <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span class="text_exposed_show">Président de la société NOFRAYANE, M. MANTEZ</span></span>.</span></p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
