 <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			Sorties de Formation 2020		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p>Depuis des années, des entreprises de Guyane, des multinationales aux TPE, nous font confiance pour leur recrutement alors retrouvez dans le tableau ci-dessous les sorties de formation 2020 qui vous permettront d'anticiper vos recrutements parmi nos jeunes.</p>

<p>&nbsp;</p>

<p style="text-align: center;"><a href="/images/Sorties_de_formation_V2.png" target="_blank"><img src="/images/Sorties_de_formation_V2.png" alt="Capture decran 2019 01 23 a 095240" /></a></p>

<p>&nbsp;</p>

<p>Le RSMA Guyane ce sont des entrées et des sorties de formation toute l’année. Pour recruter au plus proche de vos desideratas, n’hésitez pas à exprimer vos besoins.</p>

<p>Pour des demandes spécifiques en main-d’oeuvre, le RSMA Guyane propose des partenariats adaptés pour former le volontaire aux exigences et qualifications particulières demandées : formation au régiment ou dans l’entreprise, alternance,...</p>

<p>Tous nos jeunes volontaires sont éligibles à effectuer des stages en entreprise pour parfaire leur connaissance du monde du travail : PAE, journée découverte,...</p>

<p>Ils sont également recevables aux différents contrats aidés : <br />• Contrat EMPLOI D’AVENIR (60% du salaire pris en charge par l‘Etat),<br />• Contrat UNIQUE D’INSERTION (70% du salaire pris en charge par l’Etat),<br />• Contrat CIE STARTER (pour les jeunes de «Quartier Prioritaire» : aide financière à 45% du SMIC versée durant 24 mois),<br />...</p>

<p style="font-size: 14pt; color: #333399;">&nbsp;</p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
