 <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			La Taxe d'Apprentissage		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<p><span style="font-size: 10pt;"><span style="font-family: arial, helvetica, sans-serif; color: #000000;"></span><span style="font-family: arial, helvetica, sans-serif;"><strong>La taxe d’apprentissage est une ressource indispensable au financement de la formation et de l’insertion durable de 570 jeunes par an.</strong></span></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"></span></p>

<p>&nbsp;</p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Quels sont nos résultats&nbsp;?</strong></span></p>

<p style="text-align: justify;">Organisme d’insertion socio-professionnelle, le RSMA-Guyane offre chaque année environ 570 places au sein de ses 21 filières de formations. 76% des jeunes sortis du RSMA en 2019 ont trouvé un emploi ou reprennent leurs études (59% en emploi durable, 19,5% en emploi de transition, 10% en reprise d'étude). De plus, près de 97% des volontaires se présentent au permis VL (véhicule léger) durant leur formation (65,5% de réussite) et 100% présentent le SST (96% de réussite).</p>

<p style="text-align: justify;">Il est le seul établissement qui recrute, forme et insère les jeunes guyanais qui lui ont fait confiance.</p>

<p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Quels sont nos projets&nbsp;?</strong></span></p>

<p style="text-align: justify;">Le régiment souhaite accueillir 570 nouveaux jeunes volontaires pour l'année 2020. Nous n’aurons de cesse d’investir pour adapter nos outils pédagogiques aux besoins de la jeunesse guyanaise, de soutenir les formations en alternance en développant les coopérations et de continuer à proposer des formations conformes au marché du travail.</p>

<p style="text-align: justify;">Nous poursuivrons nos efforts pour une employabilité durable au service des jeunes et des entreprises guyanaises. Parce que les dynamiques socio-économiques spécifiques du territoire et les défis de la révolution numérique l’appellent.</p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><strong>Quelles sont les démarches que vous devez accomplir ?</strong></span></p>

<p><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Le RSMA-Guyane, organisme habilité à recevoir directement votre taxe d’apprentissage, vous accompagne gracieusement dans vos démarches à cette adresse mail&nbsp;: <a href="mailto:daf@guyane-sma.fr"></a><span id="cloakc5c9aae922c128ec231f93f34e6ea13c">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloakc5c9aae922c128ec231f93f34e6ea13c').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addyc5c9aae922c128ec231f93f34e6ea13c = 'd&#97;f' + '&#64;';
				addyc5c9aae922c128ec231f93f34e6ea13c = addyc5c9aae922c128ec231f93f34e6ea13c + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_textc5c9aae922c128ec231f93f34e6ea13c = 'd&#97;f' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloakc5c9aae922c128ec231f93f34e6ea13c').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyc5c9aae922c128ec231f93f34e6ea13c + '\'>'+addy_textc5c9aae922c128ec231f93f34e6ea13c+'<\/a>';
		</script></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;">Régiment du Service Militaire Adapté de la Guyane (RSMA-Guyane)</span></p>

<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;">Quartier Némo BP 246 - 97393 Saint-Laurent du Maroni</span></p>

<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;">Mail : <span id="cloak33a054bb90139fa9a185328088abaa64">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>
				document.getElementById('cloak33a054bb90139fa9a185328088abaa64').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy33a054bb90139fa9a185328088abaa64 = 'd&#97;f' + '&#64;';
				addy33a054bb90139fa9a185328088abaa64 = addy33a054bb90139fa9a185328088abaa64 + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';
				var addy_text33a054bb90139fa9a185328088abaa64 = 'd&#97;f' + '&#64;' + 'g&#117;y&#97;n&#101;-sm&#97;' + '&#46;' + 'fr';document.getElementById('cloak33a054bb90139fa9a185328088abaa64').innerHTML += '<a style="color: #000000;" ' + path + '\'' + prefix + ':' + addy33a054bb90139fa9a185328088abaa64 + '\'>'+addy_text33a054bb90139fa9a185328088abaa64+'<\/a>';
		</script></span></p>

<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;">N° SIRET : 154&nbsp;001&nbsp;309 00017</span></p>

<p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;"></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<hr />

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif; color: #0088cc;"><strong>Accompagnez l’action du RSMA-Guyane </strong></span></p>

<p style="text-align: center;"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif; color: #0088cc;"><strong>en nous désignant bénéficiaire de votre taxe d’apprentissage : <br /></strong></span></p>

<p style="text-align: center;"><span style="color: #0088cc;"></span><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif; color: #0088cc;"><a style="color: #0088cc;" href="/images/Collecte_taxe_dapprentissage_2020.pdf" target="_blank"><strong>COLLECTE DE LA TAXE D'APPRENTISSAGE 2020</strong></a></span></p>

<p><br style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;" /></p>

<p><span style="font-size: 12pt; color: #000000;"><span style="font-family: arial, helvetica, sans-serif;">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp; &nbsp;&nbsp; <br /></span></p>

<p>&nbsp;</p>

<p><img src="/images/documents/Bandeau_logos_2020.png" alt="Bandeau logos 2020" />&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000;"></span></p>

<p style="text-align: center;"><span style="font-size: 14pt; font-family: arial, helvetica, sans-serif; color: #000000;"><strong>«&nbsp;Pour un partenariat au profit de la jeunesse de Guyane&nbsp;»</strong></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
