  <main id="content" role="main" class="span9">
                        <!-- Begin Content -->
                        
                        <div id="system-message-container">
	</div>

                        <div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="fr-FR" />
	
		
			<div class="page-header">
		<h2 itemprop="headline">
			ESPACE ENTREPRISE		</h2>
							</div>
					
		
	
	
		
								<div itemprop="articleBody">
		<div class="content">

<div class="field field-name-body field-type-text-with-summary field-label-hidden">

<div class="field-items">

<div class="field-item even">

<h1 style="text-align: center;">Embaucher un jeune du SMA, un recrutement de qualit&eacute;</h1>

<hr />

<h3>Une formation professionnelle de qualit&eacute; :</h3>

<p class="rtejustify">Encadr&eacute;s par du personnel exp&eacute;riment&eacute; et dipl&ocirc;m&eacute;, les jeunes du SMA passent la majeure partie de leur temps au r&eacute;giment &agrave; suivre des cours th&eacute;oriques et pratiques dans la fili&egrave;re professionnelle qu&rsquo;ils ont choisie.</p>

<p class="rtejustify">De plus, leur p&eacute;riode de Formation Professionnelle Compl&eacute;mentaire est un grand atout. Pour eux, il s&rsquo;agit d&rsquo;une exp&eacute;rience professionnelle qui ach&egrave;ve leur formation. Pour vous, c&rsquo;est l&rsquo;assurance d&rsquo;embaucher un jeune qui conna&icirc;t le monde du travail. Les stages sont aussi l'occasion pour vous de pr&eacute;-s&eacute;lectionner les jeunes et d'&eacute;valuer leur motivation et leur comportement.</p>

<h3>Une remise &agrave; niveau scolaire</h3>

<p class="rtejustify">Tous les stagiaires du RSMA ont aussi une remise &agrave; niveau scolaire en fran&ccedil;ais, math&eacute;matiques et informatique. Ainsi, en fin de cursus, vous &ecirc;tes assur&eacute;s d&rsquo;embaucher des jeunes poss&eacute;dant les bases scolaires &eacute;l&eacute;mentaires.</p>

<p class="rtejustify">Pour les stagiaires n&rsquo;ayant aucun dipl&ocirc;me, la formation comprend une pr&eacute;paration au CFG (Certificat de Formation G&eacute;n&eacute;rale) : ce dipl&ocirc;me, reconnu par le rectorat, est n&eacute;cessaire pour l&rsquo;obtention du Certificat d&rsquo;Aptitude Personnelle &agrave; l&rsquo;Insertion, attribu&eacute; par le chef de corps du r&eacute;giment, qui valide la formation re&ccedil;ue par les jeunes (voir plus loin).</p>

<h3>La plus value militaire : une formation citoyenne.</h3>

<p class="rtejustify">Si les &eacute;l&eacute;ments pr&eacute;c&eacute;dents sont communs &agrave; certains organismes de formation professionnelle, la plus value du SMA r&eacute;side dans l&rsquo;encadrement militaire des stagiaires.</p>

<p class="rtejustify">En effet, tout au long de la pr&eacute;sence du stagiaire au r&eacute;giment, depuis la formation militaire initiale (1 mois) qui concerne tous les stagiaires et au cours de la formation professionnelle, les cadres du r&eacute;giment inculquent aux jeunes volontaires les valeurs citoyennes et militaires jour apr&egrave;s jour. La ponctualit&eacute;, la rigueur, le respect de l&rsquo;autre et de ses sup&eacute;rieurs, le travail en &eacute;quipe hi&eacute;rarchis&eacute;e feront d&rsquo;un jeune du SMA un excellent salari&eacute; pr&ecirc;t &agrave; travailler dans une entreprise. Le SMA donne des rep&egrave;res n&eacute;cessaires pour s'int&eacute;grer dans la soci&eacute;t&eacute;.</p>

<p class="rtejustify">Au SMA, les stagiaires connaissent leur devise : <b>&laquo; La r&eacute;ussite par l&rsquo;effort et le travail ! &raquo;</b>.</p>

<p>&nbsp;</p>

<p><img src="/images/20172002_Presentation-WEB.jpg" alt="20172002 Presentation WEB" /></p>

<p>&nbsp;</p>

<p><img src="/images/20172002_Presentation-WEB2.jpg" alt="20172002 Presentation WEB2" /></p>

</div>

</div>

</div>

</div> 	</div>

	
							</div>

                        
                        <!-- End Content -->
                    </main>
