                                <div id="form-login-secretkey" class="control-group">
                        <div class="controls">
                                                                        <div class="input-prepend input-append">
                                                <span class="add-on">
                                                        <span class="icon-star hasTooltip" title="Clé secrète">
                                                        </span>
                                                                <label for="modlgn-secretkey" class="element-invisible">Clé secrète                                                     </label>
                                                </span>
                                                <input id="modlgn-secretkey" autocomplete="one-time-code" type="text" name="secretkey" class="input-small" tabindex="0" size="18" placeholder="Clé secrète" />
                                                <span class="btn width-auto hasTooltip" title="Si vous avez activé l'authentification en deux étapes dans votre compte d'utilisateur, merci de saisir votre clé secrète. Si vous ne comprenez pas ce dont il s'agit, vous pouvez laisser le champ vide.">
                                                        <span class="icon-help"></span>
                                                </span>
                                </div>

                        </div>
                </div>

