                        <div class="moduletable">
                                                        <h3>Connexion utilisateur</h3>
                                                <form action="/nos-formations.html" method="post" id="login-form" class="form-inline">
                <div class="userdata">
                <div id="form-login-username" class="control-group">
                        <div class="controls">
                                                                        <div class="input-prepend">
                                                <span class="add-on">
                                                        <span class="icon-user hasTooltip" title="Identifiant"></span>
                                                        <label for="modlgn-username" class="element-invisible">Identifiant</label>
                                                </span>
                                                <input id="modlgn-username" type="text" name="username" class="input-small" tabindex="0" size="18" placeholder="Identifiant" />
                                        </div>
                                                        </div>
                </div>

