                <div id="form-login-password" class="control-group"> 
                        <div class="controls"> 
                                                                        <div class="input-prepend"> 
                                                <span class="add-on"> 
                                                        <span class="icon-lock hasTooltip" title="Mot de passe"> 
                                                        </span> 
                                                                <label for="modlgn-passwd" class="element-invisible">Mot de passe                                                       </label> 
                                                </span> 
                                                <input id="modlgn-passwd" type="password" name="password" class="input-small" tabindex="0" size="18" placeholder="Mot de passe" /> 
                                        </div> 
                                                        </div> 
                </div> 

