                                                <div id="form-login-remember" class="control-group checkbox">
                        <label for="modlgn-remember" class="control-label">Se souvenir de moi</label> <input id="modlgn-remember" type="checkbox" name="remember" class="inputbox" value="yes"/>
                </div>
                                <div id="form-login-submit" class="control-group">
                        <div class="controls">
                                <button type="submit" tabindex="0" name="Submit" class="btn btn-primary login-button">Connexion</button>
                        </div>
                </div>
                                        <ul class="unstyled">
                                                        <li>
                                        <a href="/mon-compte.html?view=remind">
                                        Identifiant oublié ?</a>
                                </li>
                                <li>
                                        <a href="/mon-compte.html?view=reset">
                                        Mot de passe oublié ?</a>
                                </li>
                        </ul>
                <input type="hidden" name="option" value="com_users" />
                <input type="hidden" name="task" value="user.login" />
                <input type="hidden" name="return" value="aHR0cHM6Ly93d3cucnNtYWd1eWFuZS5mci9ub3MtZm9ybWF0aW9ucy5odG1s" />
                <input type="hidden" name="0127a435c3069ee621cb5580e27f7dba" value="1" />       </div>
        </form>
                </div>

